body {
 background-color: #DCDCDC
}

.CodeMirror {
  background: #fff;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: auto;
  width: 69vw; /* largeur obligatoire pour être centré */
}

.CodeMirror-scroll {
  min-height: 89vh;
}

.displayNone {
  display: none !important;
}